@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin color-transit($color-transit){
  background: $color-transit;
  background: -webkit-linear-gradient(top, $color-transit);
  background: -moz-linear-gradient(top, $color-transit);
  background: -ms-linear-gradient(top, $color-transit);
  background: -o-linear-gradient(top, $color-transit);
  background: linear-gradient(to bottom, $color-transit);
}

@mixin user-select($value){
  -webkit-user-select: $value; /* Chrome all / Safari all */
  -moz-user-select: $value; /* Firefox all */
  -ms-user-select: $value; /* IE 10+ */
  user-select: $value; /* Likely future */
}

@mixin translate($value1, $value2){
  -ms-transform: translate($value1, $value2);
  -webkit-transform: translate($value1, $value2);
  transform: translate($value1, $value2);
}

@mixin translate-important($value1, $value2){
  -ms-transform: translate($value1, $value2) !important;
  -webkit-transform: translate($value1, $value2) !important;
  transform: translate($value1, $value2) !important;
}

@mixin background-horizontal-gradient($start-color, $end-color){
  /* Fallback (could use .jpg/.png alternatively) */
  background-color: $start-color;

  /* SVG fallback for IE 9 (could be data URI, or could use filter) */

  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}');

  /* Safari 4, Chrome 1-9, iOS 3.2-4.3, Android 2.1-3.0 */
  background-image:
  -webkit-gradient(linear, left top, right top, from($start-color), to($end-color));

  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
  background-image:
  -webkit-linear-gradient(left, $start-color, $end-color);

  /* Firefox 3.6 - 15 */
  background-image:
  -moz-linear-gradient(left, $start-color, $end-color);

  /* Opera 11.1 - 12 */
  background-image:
  -o-linear-gradient(left, $start-color, $end-color);

  /* Opera 15+, Chrome 25+, IE 10+, Firefox 16+, Safari 6.1+, iOS 7+, Android 4.4+ */
  background-image:
  linear-gradient(to right, $start-color, $end-color);
}

@mixin box-shadow($value){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow:$value;
}
