doctype html
html.no-js
    head
        meta(charset='utf-8')
        title ProjectName
        meta(name='description' content='')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="assets/css/main.css")
    body
        | <!--[if lt IE 9]>
        |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        | <![endif]-->

        header.header



        block content

        footer.footer




script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
// endbower
// build:js scripts/vendor.js
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
// endbuild
// build:js scripts/app.js
script(src='js/main.js')

