@mixin box-shadow-opacity($color, $opacity: 0.3) {
  -webkit-box-shadow: 0 0 2px rgba($color, $opacity);
  box-shadow: 0 0 2px rgba($color, $opacity);
}

$main-color: #000;
$white-color: #ffffff;

.login {
  h1 {
    a {
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      &:focus {
        @include box-shadow-opacity($main-color, 0.7);
      }
    }
  }
  a {
    &:link, &:hover, &:active {
      color: $main-color;
    }
  }
  .message {
    border-left: 4px solid $main-color;
  }
  #nav {
    a {
      color: $main-color;
    }
  }
  #nav, #backtoblog {
    a {
      &:hover {
        color: $main-color;
      }
      &:focus {
        @include box-shadow-opacity($main-color, 0.7);
      }
    }
  }
}

input[type=checkbox]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: $main-color;
  @include box-shadow-opacity($main-color, 0.7);
}

input[type=checkbox]:checked:before {
  color: $main-color;
}

.wp-core-ui {
  .button-primary {
    border: none;
    box-shadow: none;
    text-shadow: none;
    background: $main-color;
    &:active, &:hover, &:focus {
      color: $main-color;
      box-shadow: none;
      background: darken($main-color, 5%);
    }
  }
}